*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
  }
body {
    border: solid;
    max-width: 1020px;
    background-color:rgb(29, 98, 56, 0.81);
}
.top_header {
    display: flex;
    padding: 0;
}
.nav_bar {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.brand {
    padding-left: 0;
    font-size: 18px;
    font-weight: 600px;
}
.main_container {
    display: flex;
}
.menu_bar {
    border-radius: 0.5cm;
    width: max-content;
    background-color:rgba(64, 120, 110, 1)
}
.menu_bar a{
    text-align: center;
    padding-top: 40px;
    color: black;
    display: block;
    text-decoration: none;
}
.menu_bar a:hover {
    background-color: #000;
    color: white;
}
.containt {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.text{
    margin: auto;
    padding-top: 40px;
}
.text h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}
.main_box {
    display: grid;
    grid-template-columns: auto auto;

}
.box {
    border-radius: 0.5cm;
    background-color: rgb(25, 83, 50);
    padding: 20px;
    margin: 30px;
}
.image {
    border-radius: 0.5cm;
    width: 100%;
}
@media screen and (max-width: 650px){
    .main_box{
        display: inline-block;
    }
    .text h1{
        font-size: 15px;
    }
    .menu_bar {
        border: solid;
        width: max-content;
        background-color:rgba(64, 120, 110, 1)
    }
}